*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    display:flex;
    width:100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}

.calc{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input{
    height: 100px;
    width: 250px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
    font-size: 40px;
}
input::placeholder{
    text-align: right;
    color: white;
}

button{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.equal{
    background-color: rgb(255, 140, 0);
}

.operator{
    color: rgb(0, 255, 13);
}
